
header .container {

    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
    padding-left: 30px 0px 0px 30px;

    .hero {
        align-items: center;
        background-repeat: no-repeat;
        background-position: top center;
        justify-content: center;
        flex-direction: column;
        height: 45rem;
        display: flex;
        padding-bottom: 4rem;
        overflow: hidden;
        width: 100%;

        h1 {
            padding: 1rem 0 0;
            text-align: left;
            width: 100%;
        }

        @media (max-width: 767px) {

            img {
                margin-left: 70%;
                position: relative;
                width: 230%;
                max-width: none;
                margin-right: -68%;
                margin-top: 90px;
            }
        }
    }

}