$color-primary: #195484;
$color-secondary: #f58220;
$font-color-primary: #ffffff;
$font-color-secondary: #454545;
$font-default: 'Manrope', sans-serif;
$font-size-default: 1.6rem;
$font-size-nav: 3rem;

@import 'fonts';
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@300;400;800&display=swap');
@import 'nav';
@import 'grid';
@viewport {
    width: device-width;
    zoom: 1;
}

* {
    box-sizing: border-box; 
    // considera o padding e border como parte do cálculo total da largura e altura
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    background-color: $color-primary;
    font-family: $font-default;
    margin: 1em;
    font-size: 1.4rem;
}

h1 {
    color: $font-color-primary;
    text-align: center;
    margin-top: 4rem;
}

article {

    h1 {
        color: $color-secondary;
        font-size: 3rem;
        text-align: left;
    }

}

h2 {
    color: $font-color-primary;
    font-family: 'Manrope', sans-serif;;
    font-weight: 800;
    font-size: 2rem;    
}


#root,
header,
section,
footer {
    display: block;
    float: left;
    width: 100%;
}

section {
    padding: 2rem 0;
    margin: 0;
    border-radius: 5rem;
    padding-left: 20px;
}

img {
    max-width: 100%;
    height: 80%;
    align-content: center;
}

/*BANNER*/
.banner {
    width: 100%;
    background-size: flex;
    float: left;
    text-align: left;
    display: flex;
    justify-content: space-between;    
    padding: 10%;
    background: url(../assets/images/bg.jpg) repeat-x;
    background-position: 2%;
    margin-top:100px;
    border-radius: 5rem;

}
.title {width: 100%}
.title h2 {
    text-align: left; font-size: 5rem; color: #fff; font-weight: 800;
}
.title h3 {font-size: 1.5em; color: #fff}


// SASS
.container {
    display: flex;
    flex-flow: column;
    margin: 0 auto;
    max-width: 100%;

    @media (max-width: 768px){
        max-width: 100%;
        flex-direction: column;

    }

    @media (min-width: 1024px ){
    }

    @media (min-width: 1024px ){
    }

    @media (max-width: 414px){
        max-width: 100%;
        flex-direction: column;
        .title h2 { padding-left: 0px}
    }
}


@import 'animations';
@import 'header';
@import 'sobre';
@import 'produtos';
@import 'vitrine';
@import 'steps';
@import 'footer';
@import 'responsive';